<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baked Good</title>
</head>
<body>
    <h1>Baked Good</h1>
    <p><%= bakedGood.name %></p>
    <p>$<%= bakedGood.price %></p>
    <img src="<%= bakedGood.image %>" alt="Picture of baked good"/>
    <p><a href="/bakedgoods">Back to index</a></p>
</body>
</html>