<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div {
            max-width: 300px;
            border: 2px solid black;
            margin: 10px;
            padding: 10px;
        }

        img {
            max-width: 150px;
        }

        p {
            margin: 0;
        }

        a {
            display: inline-block;
            border: 1px solid rgb(0, 221, 0);
            background-color: rgb(0, 221, 0);
            padding: 5px;
            margin: 5px 5px 5px 5px;
            text-emphasis: bold;
        }

        form {
            display: inline-block;
            margin: auto 10px;
        }

        input, block {
            display: block;
            margin: 5px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1>New Pokemon</h1>
    <h3><a href="/pokemon">Back to Pokedex</a></h3>
    <br>

    <form action="/pokemon" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="poke1">

        <label for="type">Type</label>
        <input type="text" name="type" id="type" value="grass, rock">

        <label for="hp">HP</label>
        <input type="number" name="hp" id="hp" value=10>

        <label for="attack">Attack</label>
        <input type="number" name="attack" id="attack" value=11>

        <label for="defense">Defense</label>
        <input type="number" name="defense" id="defense" value=12>
        
        <button type="submit">Create New</button>
    </form>

</body>

</html>