<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Best Game Ever</title>
    <link rel="stylesheet" href="/css/four-oh-four.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/js/four-oh-four.js" charset="utf-8"></script></script>
  </head>
  <body>
    <a href="/products">404 Error! Take me back to the store!</a>
    <h1>Best Game Ever!</h1>
    <div class="container">
      <h2>Choose Wisely</h2>
      <div class="choose">
        <button type="button" name="Win" class="win-it">Win it!</button>
        <button type="button" name="Lose" class="lose-it">Lose it!</button>
      </div>
    </div>
    <div class="modal welcome">
      <h2> Click on Image to Begin </h2>
      <img src="/assets/images/kyaw-tun-263670.jpg" alt="Welcome Photo by Kyaw Tun on Unsplash">
    </div>
    <div class="modal win">
      <img src="/assets/images/harald-hofer-214964.jpg" alt="Champion Photo by Harald Hofer on Unsplash">
    </div>
    <div class="modal lose">
      <img src="/assets/images/tom-pumford-254867.jpg" alt="Unfair Photo by Tom Pumford on Unsplash">
    </div>
  </body>
</html>
