<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Log</title>
</head>
<body>
    <h1>New Log</h1>
    <form action="/logs" method="POST">
        Title: <input type="text" name="title"/><br/>
        Entry: <textarea name="entry"></textarea><br/>
        Ship is broken: <input type="checkbox" name="shipIsBroken"/><br/>
        <input type="submit" value="Create log"/>
    </form>
</body>
</html>