body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.square {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: ivory;
    width: 32%;
    height: 32%;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}


#container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: ivory;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin: 50px auto;
    padding: 20px;
    /* overflow: scroll; */
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;
    flex-direction: column;
}

#modal-textbox {
    display: flex;
	background-color: white;
	height: 150px;
	width: 250px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    justify-content: center;
    font-size: 10px;
}

#modal-footer {
    display: flex;
    text-align: right;
    align-self: flex-end;
    justify-self: flex-end;
}

#endtext {
    display: flex;
    text-align: right;
    align-self: flex-start;
    justify-self: center;
    font-size: 30px;
}
