<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New Baked Goods Page</h1>
    <h3><a href="/bakedgoods">Back</a></h3>
    <form action="/bakedgoods" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="new goods" />
        <label for="price">Price</label>
        <input type="number" name="price" id="price" value="5" />
        <label for="image">Image</label>
        <input type="text" name="image" id="image"
            value="https://img.huffingtonpost.com/asset/5b9c6b431f000050002135f0.jpeg" />
        <input type="submit" value="Create Baked Goods">
    </form>
</body>

</html>