<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Baked Goods</h1>
    <h3><a href="/bakedgoods">Back</a></h3>
    <ul>
        <% for(key in bakedGoods[id]) { 
                if(key == 'image') { %>
                    <li><img src="<%= bakedGoods[id][key] %>" alt=""></li>
            <% } else { %>
                    <li><%= bakedGoods[id][key] %></li>
            <% } %>
        <% } %>
    </ul>
</body>

</html>