<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Scientists</h1>
    <h3><a href="/new">Create New Scientist</a></h3>
    <br>
    <form action="/index/delete/all?_method=DELETE" method="post">
        <button type="submit">Delete All</button>
    </form>
    
    <br>
    <ul>
    <% for(let i = 0; i < data.length ; i++) { %>
        <li>
            <a href="/index/<%= i %>/edit">
            <% for(let key in data[i]) { %>
                <%= key %>: <%= data[i][key] %> <br>
            <% } %>
            </a>
            <form action="/index/<%= i %>?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
        <br>
    <% } %>
    </ul>
</body>
</html>