<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Scientists</h1>
    <h3><a href="/new">Create New Scientist</a></h3>
    <br>
    <h3>Delete Scientist</h3>
    <form action="/index/<%=id%>?_method=DELETE" method="post">
        <label for="number">Delete Scientist Position Number</label>
        <%// <input type="number" name="number" id="number"> %>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <ul>
    <% for(let elem of data) { %>
        <li>
        <% for(let key in elem) { %>
            <%= key %>: <%= elem[key] %> <br>
        <% } %>
        </li>
        <br>
    <% } %>
    </ul>
</body>
</html>