<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Scientist</h1>
    <h3><a href="/index">Back</a></h3>

    <form action="/index" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="scientist1">

        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="test">

        <label for="verified">Verified</label>
        <input type="checkbox" name="verified" id="verified">
        <br>
        <button type="submit">Create New</button>
    </form>
</body>
</html>