<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Budgets</title>
</head>

<body>
    <div class="container">
        <h1>Budgtr ALL</h1>
        <h3 class="account">Bank Account: <%= bankAcct %></h3>
        <h5><a href="/budgets/new">New Item</a></h3>
        <table>
            <thead>
                <th>Date</th>
                <th>Name</th>
                <th>From</th>
                <th>Amount</th>
                <th>Tags</th>
            </thead>
            <tbody>
                <% for(let i=0; i < data.length; i++) { %>
                <tr>
                    <% for(key in data[i]) { %>
                        <td>
                            <% if(key == 'name') { %>
                                    <a href="/budgets/<%= i %>"><%= data[i][key] %></a>
                            <% } else { %>
                                    <%= data[i][key] %>
                            <% } %>
                        </td>
                    <% } %>
                </tr>

                <% } %>
            </tbody>
        </table>
    </div>

</body>

</html>