<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New Product</h1>
    <h3><a href="/products">Back to index</a></h3>

    <form action="/products?_method=CREATE" method="POST">
        Name: <input type="text" name="name" /><br>
        Description: <input type="text" name="description" /><br>
        Image URL: <input type="text" name="img" /><br>
        Price: <input type="text" name="price" /><br>
        Quantity: <input type="text" name="qty" /><br>
        <br>
        <input type="submit" name="" value="Create" />
    </form>
</body>
</html>