<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New page</h1>
        <form action="/logs/<%= logs[i].id %>" method="POST">
            Title: <input type="text" name="title" value=""/><br/>
            Entry: <input type="text" name="entry" /><br/>
            Ship is broken: <input type="checkbox" name="shipIsBroken" /><br/>
            <input type="submit" name="" value="Create New"/>
        </form>
    </body>
</html> 