<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New page</h1>
        <form action="/logs/<%= logs.id %>" method="PUT">
            Title: <input type="text" name="title" value="<%= logs.title %>"/><br/>
            Entry: <input type="text" name="entry" value="<%= logs.entry %>"/><br/>
            Ship is broken: <input type="checkbox" name="shipIsBroken" value="<%= logs.shipIsBroken %>"/><br/>
            <input type="submit" name="" value="Edit"/>
        </form>
    </body>
</html> 