<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Logs Index Page</h1>
    <h3><a href="/new">Create New</a></h3>
    <ul>
        <% for(let i = 0; i < logs.length; i++){ %>
        <li>
            Title:
            <a href="/logs/<%= logs[i].id %>">
                <%=logs[i].title; %>
            </a>
            <br>
            Entry: <%=logs[i].entry; %>
            <br>
            <% if(logs[i].shipIsBroken === true){ %>
                    Ship is broken
            <% } else { %>
                    Ship is not broken
            <% } %>
        </li>
        <% } %>
    </ul>
</body>

</html>