<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
            text-align: center;
            font-size: 30px;
            text-transform: capitalize;
        }
        h2, a {
            font-size: 30px;
        }
        img {
            border-radius: 30px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1>Gotta catch 'em all!</h1>
    <h2><%= pokemon[id].name %></h2>
    <a href="/pokemon">Back</a>
    <br> <br>
    <img src="<%= pokemon[id].img + '.jpg' %>" alt="">
</body>

</html>