body {
    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: ivory;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    overflow: scroll;
}

table {
    width: 100%;
}

table, th, tr, td {
    border: 1px solid black;
    padding: 5px;
}
