<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>POKE EXPRESS</title>
    <!-- styles -->
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>
  <body>
    <!-- start pokedex -->
    <div class="pokedex-container">
      <!-- pokedex header -->
      <div class="pokedex-header">
        <!-- decoration buttons -->
        <div class="large-button"></div>
        <div class="small-buttons one"></div>
        <div class="small-buttons two"></div>
        <div class="small-buttons three"></div>
        <!-- header text -->
        <div class="header-text">
          <h1><%= pokemon.name.toUpperCase() %>!</h1>
        </div>
      </div>
      <!-- pokedex content -->
      <div class="pokedex-content">
        <img src="<%= pokemon.img + '.jpg'%>">
        <a href="/pokemon" class="back-button">GO BACK!</a>
      </div>
    </div>
  </body>
</html>
