body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  margin: 5px;
}

label {
  margin: 5px;
  min-width: 60px;
}

#editDiv,
table {
  display: inline-block;
  margin: 20px 20px;
  padding: 10px;
  vertical-align: top;
  border: 1px solid black;
  border-radius: 8px;
}

td,
th {
  padding: 0 5px;
}

.hidden {
  visibility: hidden;
}
